@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about-text {
  color: rgb(241, 241, 241);
}

.hand-writing {
  font-family: 'Sacramento';
}

.color-grey {
  color: #cacaca;
}

.color-grey-2 {
  color: #898989;
}

.main-bg {
  background: url('../public/assets/hero/main-hero.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  animation: clickEffect 1.2s ease-out;
  z-index: 99999;
}

@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.2em;
  }
  100% {
    opacity: 0.2;
    width: 15em;
    height: 15em;
    margin: -7.5em;
    border-width: 0.03em;
  }
}

.reveal-text {
  animation: reveal 1.52s ease-out;
}
.reveal-text-4s {
  animation: reveal-slower 5s ease-out;
}
.reveal-text-6s {
  animation: reveal-slower 10s ease-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes reveal-slower {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
  }
}

.content-writer {
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 600px) {
}
